.b-page-cussines {
    position: relative;
    left: 0;
    padding-top: 50px;
    width: 100%;
    
    .heading-title {
        padding-bottom: 50px;
        @include rem("font-size",18);
        font-family: $ff_text;
        color: $cl_text_2;
        font-weight: bold;

        &.inline-1::after {
            content: ' ';
            width: 80px;
            height: 2px;
            background-color: #FA5882;
            position: absolute;
            bottom: 45px;
            left: 50%;
            transform: translate(-50%,50%);
            border-radius: 100%;
        }
    }
    .img-eat {
        position: relative;
        width: 20%;
        height: 200px;
        cursor: pointer;
        overflow: hidden;
        
        .content-img {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%,-50%));
            text-align: center;
            opacity: 0;
            transition: 1s;
            .b-price {
                @include rem("font-size", 18px);
                font-family: $ff_title;
                color: rgba(255, 255, 255, 0.902);
                font-weight: bold;
                font-style: italic;
                line-height: 15px;
                @include single-text-shadow( 0 1px 40px rgba(1, 1, 1, 0.55));
            }
            .eat-title {
                @include rem("font-size", 30);
                letter-spacing: 5px;
                font-family: $ff_text;
                color: $cl_text;
                font-weight: bold;
                @include single-text-shadow( 0 1px 40px rgba(1, 1, 1, 0.55));

            }
            &:hover{
                opacity: 1;
            }
        }
        &.img-1 {
            background-image: url("/src/images/eat-item-1.png");
            background-size: 100% 100%;
            
        }
        &.img-2 {
            background-image: url("/src/images/eat-item-2.png");
            background-size: 100% 100%;
        }
        &.img-3 {
            background-image: url("/src/images/eat-item-3.png");
            background-size: 100% 100%;
        }
        &.img-4 {
            background-image: url("/src/images/eat-item-4.png");
            background-size: 100% 100%;
        }
        &.img-5 {
            background-image: url("/src/images/eat-item-5.png");
            background-size: 100% 100%;
        }
        &.img-6 {
            background-image: url("/src/images/eat-item-6.png");
            background-size: 100% 100%;
        }
        &.img-7 {
            background-image: url("/src/images/eat-item-3.png");
            background-size: 100% 100%;
        }
        &.img-8 {
            background-image: url("/src/images/eat-item-4.png");
            background-size: 100% 100%;
        }
        &.img-9 {
            background-image: url("/src/images/eat-item-5.png");
            background-size: 100% 100%;
        }
        &.img-10 {
            background-image: url("/src/images/eat-item-10.png");
            background-size: 100% 100%;
        }
        &:hover{
            background-size: 120% 120%;
            transition: 1s;
        }
    }
}
