.b-page-slider {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    .mySlider {
        .item {
            position: relative;
            .b-content {
                position: absolute;
                left: 50%;
                top: 50%;
                @include transform(translate(-50%,-50%));
                .img-person {
                   position: relative;
                   left: 40%;
                }
                .b-text {
                    @include rem("font-size",25);
                    font-family: $ff_text;
                    color: #aba4a4;
                    @include rem("line-height",45);
                }
                .b-person{
                    @include rem("font-size",15);
                    font-family: $ff_text;
                    color: #aba4a4;
                    @include rem("line-height",45);
                }
            }
        }
    }

}
