// ----------------------------------------------------------------------
// Font
// ----------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=vietnamese');
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Reg.ttf"); }
    @font-face {
        font-family: "Time New Roman";
        src: url("../fonts/font-times-new-roman.ttf"); }
// ----------------------------------------------------------------------
// Base
// ----------------------------------------------------------------------
@import "base/mixins";
@import "base/variables";
@import "base/extends";
@import "base/reset";
@import "base/fonts";
@import "base/utility";
@import "base/button";

// ----------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------
@import "layout/header";
@import "layout/footer";

// ----------------------------------------------------------------------
// Custom
// ----------------------------------------------------------------------
@import "custom/custom-plugin";

// ----------------------------------------------------------------------
// Pages
// ----------------------------------------------------------------------
@import "pages/homepage";
@import "pages/banner";
@import "pages/feature";
@import "pages/introduc";
// ----------------------------------------------------------------------
// Responsive
// ----------------------------------------------------------------------
@import "responsive/responsive";
