<section class="b-page-cussines">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h4 class="heading-title text-center inline-1">BROWSE BY CUISINES</h4>
            </div>
        </div>
        <div class="row">
            <div class="img-eat img-1">
                <div class="content-img">
                    <p class="b-price">327 Recipes</p>
                    <h2 class="eat-title">ITALIAN</h2>
                </div>
            </div>
            <div class="img-eat img-2">
                <div class="content-img">
                    <p class="b-price">856 Recipes</p>
                    <h2 class="eat-title">INDIAN</h2>
                </div>
            </div>
            <div class="img-eat img-3">
                <div class="content-img">
                    <p class="b-price">327 Recipes</p>
                    <h2 class="eat-title">ITALIAN</h2>
                </div>
            </div>
            <div class="img-eat img-4">
                <div class="content-img">
                    <p class="b-price">27 Recipes</p>
                    <h2 class="eat-title">FRENCH</h2>
                </div>
            </div>
            <div class="img-eat img-5">
                <div class="content-img">
                    <p class="b-price">174 Recipes</p>
                    <h2 class="eat-title">STEAKHOUSE</h2>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="img-eat img-6">
                <div class="content-img">
                    <p class="b-price">731 Recipes</p>
                    <h2 class="eat-title">SEAFOOD</h2>
                </div>
            </div>
            <div class="img-eat img-7">
                <div class="content-img">
                    <p class="b-price">529 Recipes</p>
                    <h2 class="eat-title">MEXICAN</h2>
                </div>
            </div>
            <div class="img-eat img-8">
                <div class="content-img">
                    <p class="b-price">145 Recipes</p>
                    <h2 class="eat-title">CHINESE</h2>
                </div>
            </div>
            <div class="img-eat img-9">
                <div class="content-img">
                    <p class="b-price">327 Recipes</p>
                    <h2 class="eat-title">PIZZA</h2>
                </div>
            </div>
            <div class="img-eat img-10">
                <div class="content-img">
                    <p class="b-price">1,437 Recipes</p>
                    <h2 class="eat-title">AMERICAN</h2>
                </div>
            </div>
        </div>
        
    </div>
</section>