<section class="b-page-number" id="stats">
    <div class="container">
        <div class="row text-center">
            <div class="stat-items">
                <h2 class="b-title">
                    <span class="counter text-center">23,567</span>
                </h2>
                <p class="b-text">
                    Recipes Available
                </p>
            </div>

            <div class="stat-items">
                <h2 class="b-title">
                    <span class="counter text-center">431,729</span>
                </h2>
                <p class="b-text">
                    Active Users
                </p>
            </div>

            <div class="stat-items">
                <h2 class="b-title">
                    <span class="counter text-center">892,173</span>
                </h2>
                <p class="b-text">
                   Positive Reviews
                </p>
            </div>
            <div class="stat-items">
                <h2 class="b-title">
                    <span class="counter text-center">56,581</span>
                </h2>
                <p class="b-text">
                    Photos & Videos
                </p>
            </div>

            <div class="stat-items">
                <h2 class="b-title">
                    <span class="counter text-center">3,182</span>
                </h2>
                <p class="b-text">
                    Spices and Herbs
                </p>
            </div>
        </div>
    </div>
</section>