<section class="b-page-slider">
    <div class="container-fuild">
        <div class="mySlider">
            <div class="item">
                <img src="/src/images/slider.png" alt="">
                    <div class="b-content text-center">
                        <img src="./images/person.png" alt="" class="img-person">
                            <p class="b-text">
                                “I am so happy because I found this recipe, and it just made my life easier.
                                Thanks so much for sharing!”

                            </p>
                            <p class="b-current">
                                <i class="b-person">- Michael Dawson, San Francisco, CA -</i>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/src/images/slider.png" alt="">
                        <div class="b-content text-center">
                            <img src="./images/person.png" alt="" class="img-person">
                                <p class="b-text">
                                    “I am so happy because I found this recipe, and it just made my life easier.
                                    Thanks so much for sharing!”
    
                                </p>
                                <p class="b-current">
                                    <i class="b-person">- Michael Dawson, San Francisco, CA -</i>
                                </p>
                            </div>
                    </div>
                        <div class="item">
                            <img src="/src/images/slider.png" alt=""></div>
                        </div>
                    </div>
                </section>